
.App {
  display: flex;
  flex-direction: column; /* Stack containers vertically */
  /*flex-direction: row; /* Stack containers horizontally */
  gap: 20px; /* Add spacing between containers */
  padding: 20px;
  border: 2px solid blue;
}

.app-title {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* Two columns */
  /* grid-template-rows: 1fr 1fr;  /* Two rows */
  grid-template-rows: repeat(2, 400px); /* Two rows, each 400px tall */
  gap: 10px; /* Add spacing between containers */
  width: '100vw';
  height: '100vh';
}

.load-data-row {
  display: flex;
  align-items: center;
  gap: 8px; /* space between input and button */
  width: fit-content;
  margin: 0 auto;
}

.load-data-row button {
  width:
  auto; min-width: 80px;
}

.ribocode-viewer-title {
  order: 0;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}